/* ==========================================================================
   CSS VARIABLES
   ========================================================================== */

:root {

  /* ==========================================================================
     CONTAINER
     ========================================================================== */

  --container-width: 80rem;          /* 1280px */
  --container-padding: 2rem;         /* 32px */

  /* ==========================================================================
    HEADER
    ========================================================================== */

  --page-padding: clamp(1rem, 6.67vw, 6rem);
  --border-width: 0.125rem;
  --header-height: 8.125rem;
  --header-inner-width: 78.125rem;
  --header-logo-width: 26rem;
  --header-nav-width: 52.2rem;
  --header-nav-overlap: 0.1875rem;
  --header-page-padding: 6rem;
  --header-border-width: 0.0625rem;
  --nav-about:4;
  --nav-services:6;
  --nav-cases:5;
  --nav-team:3;
  --nav-language:2;
  --nav-boost:6;
  --nav-products:6;
  --nav-book:3;
  --nav-blog:5;

  /* ==========================================================================
     HERO
     ========================================================================== */

  --hero-height: 57.5rem;            /* 920px */

  --hero-content-width: 43.75rem;    /* 700px */
  --hero-aside-width: 20rem;         /* 320px */

  /* ==========================================================================
     SPACING
     ========================================================================== */

  --space-4: 0.25rem;                /* 4px */
  --space-8: 0.5rem;                 /* 8px */
  --space-12: 0.75rem;               /* 12px */
  --space-16: 1rem;                  /* 16px */
  --space-18: 1.125rem;              /* 18px */
  --space-20: 1.25rem;               /* 20px */
  --space-24: 1.5rem;                /* 24px */
  --space-32: 2rem;                  /* 32px */
  --space-40: 2.5rem;                /* 40px */
  --space-48: 3rem;                  /* 48px */
  --space-56: 3.5rem;                /* 56px */
  --space-64: 4rem;                  /* 64px */
  --space-72: 4.5rem;                /* 72px */
  --space-80: 5rem;                  /* 80px */
  --space-96: 6rem;                  /* 96px */
  --space-112: 7rem;                 /* 112px */
  --space-128: 8rem;                 /* 128px */

  /* ==========================================================================
     BORDER RADIUS
     ========================================================================== */

  --radius-sm: 0.5rem;               /* 8px */
  --radius-md: 1rem;                 /* 16px */
  --radius-lg: 1.5rem;               /* 24px */

  /* ==========================================================================
     COLORS
     ========================================================================== */

  --color-white: #ffffff;
  --color-black: #111111;

  /* ==========================================================================
     TYPOGRAPHY
     ========================================================================== */

  --hero-title-min: 4.5rem;          /* 72px */
  --hero-title-max: 6rem;            /* 96px */

  --text-xs: 0.75rem;                /* 12px */
  --text-sm: 0.875rem;               /* 14px */
  --text-base: 1rem;                 /* 16px */
  --text-lg: 1.25rem;                /* 20px */
  --text-xl: 1.5rem;                 /* 24px */

  /* ==========================================================================
   BASE
   ========================================================================== */

  --color-bg: #111;
  --color-bg-card: #202020;
  --color-text: #e4e4e4;
  --color-white: #fff;
  --gradient-text: linear-gradient(96deg,
      rgb(198, 241, 247) 4.0058%,
      rgb(249, 131, 233) 36.142%,
      rgb(184, 119, 255) 77.436%,
      rgb(194, 233, 205) 106.11%);

  --font-primary: "Inter", sans-serif;
  --font-display: "Unbounded", sans-serif;
}

/* ==========================================================================
   CONTAINER
   ========================================================================== */

.container {
  width: min(
    calc(100% - (var(--container-padding) * 2)),
    var(--container-width)
  );
  margin-inline: auto;
}